@import "./reset.css";

:root {
  --v-black: black;
  --v-white: white;
  --v-darkBlue: #112f41;
  --v-green: #068587;

  --v-background: #ebecee;

  --v-font: "Roboto", sans-serif;
}

*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--v-background);
  font-family: var(--v-font);
  margin: 1em 10% 0 10%;
}

.bodyNotLogin {
  background-color: var(--v-darkBlue);
  color: var(--v-white);
}

.bodyNotLogin i {
  color: var(--v-white);
}

i {
  font-size: 35px;
}

i.pageIcon {
  display: table;
  margin: 0.1em auto;
  font-size: 75px;
}

i#togglePassword {
  font-size: 18px;
  margin-left: 1em;
}

label {
  display: block;
}

form {
  display: flex;
  flex-direction: column;
}

input,
select {
  border-radius: 2px;
  height: 34px;
  min-width: 300px;
  max-width: 300px;
  margin: 1em 0;
  padding: 0;
  border-width: 2px;
}

input[type="file"] {
  display: none;
}

.file-upload {
  background-color: var(--v-white);
  display: flex;
  border-radius: 1px;
  height: 34px;
  max-width: 300px;
  margin: 1em 0;
  color: var(--v-black);
  align-items: center;
  justify-content: center;
}

.flexEye {
  display: flex;
}

.flexEye label {
  display: unset;
}

i.fas.fa-file-upload.inputStyle {
  color: var(--v-black);
  font-size: 25px;
}

button {
  width: 100%;
  max-width: 300px;
  height: 40px;
  font-size: 16px;
  color: var(--v-white);
  background-color: var(--v-green);
}

h1 {
  font-family: var(--v-font);
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  margin: 10px 0;
}

h2 {
  font-family: var(--v-font);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  margin: 10px 0;
}

h3 {
  font-family: var(--v-font);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  margin: 10px 0;
}

p {
  font-family: var(--v-font);
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: unset;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  text-decoration-line: underline;
}

a:link {
  display: inline-block;
  margin: 1em 0;
}

a[href^="tel:"] {
  margin: unset;
}

span {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
}

img,
video {
  max-width: 100%;
  height: auto;
}
img.cover {
  width: 30%;
}

/* Nav */
ul.navigation {
  display: flex;
  align-items: center;
}

ul.navigation li + li {
  margin-left: 0.5em;
}

ul.navigation li:nth-of-type(2) {
  margin-right: auto;
}

/* Match */
ul.match {
  margin: 1em 0;
}

ul.chat {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

ul.chat li {
  margin-right: 0.65em;
}

ul.match li {
  margin-left: 1em;
  margin-top: 0.3em;
}

ul.match li.items {
  margin-left: 3em;
}

ul.match li i,
ul.match li ul li i {
  font-size: 30px;
  width: 45px;
  text-align: center;
}

ul.match li span,
ul.match li ul li span {
  font-size: 18px;
}

ul.match div {
  border-left: 1px solid;
}
/* /Register/ */
span#imageSpace {
  display: flex;
  justify-content: center;
}

img.ava-prvu {
  width: 20%;
}

.border-green {
  border: solid #4ecdc4;
  color: #4ecdc4;
  transition: 0.3s;
}

.border-red {
  border: solid #ff6b6b;
  color: #ff6b6b;
  transition: 0.3s;
}

.yellow {
  color: #ffe66d;
  text-transform: uppercase;
}
.green {
  color: #4ecdc4;
  text-transform: uppercase;
}

.hide {
  display: none;
}

.show {
  display: block;
}
/* // */
.messages-container {
  position: relative;
  margin-top: 0.5em;
  background-color: #e7e7e7;
  padding: 0.3em;
}

.messages-container .messages {
  height: 60vh;
  overflow-y: auto;
}

.messages-container .messages .message {
  background-color: white;
  padding: 0.5em;
  margin: 0.5em auto;
  border-radius: 10px;
  box-shadow: 0px 0px 44px 1px rgb(0 0 0 / 9%);
  width: 85%;
}

.message-input {
  display: unset;
  flex-direction: unset;
  position: absolute;
  padding: 0 1em 0 1em;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: unset;
  align-items: baseline;
}

input#msg {
  min-width: 100%;
}

li.flexUser {
  display: flex;
  align-items: center;
}

li.flexUser span {
  margin-left: 1em;
}
/* // */
img.avatar {
  width: 3em;
  max-height: 3em;
  border-radius: 100%;
  border: 1px solid;
  background: black;
}
/* // */

.tags a:link {
  display: inline-block;
  margin: 5px;
}

.tags i {
  font-size: 20px;
}

footer {
  margin-top: 0.5em;
}
