<%- include ("./partials/head") %>
    <h1>Account</h1>
    <h2>Wachtwoord veranderen</h2>
    <form method="POST" action="/update">

        <label for="password">Wachtwoord</label>
        <input type="password" name="password" id="password" required>

        <button type="submit">wijzigen</button>

    </form>
    <h2>Account verwijderen</h2>
    <form method="POST" action="/delete">

        <button type="submit">Verwijderen</button>

    </form>
<%- include ("./partials/footer") %>