<%- include ("./partials/head") %>
<h1>Account</h1>
<h2>Wachtwoord veranderen</h2>
<form method="POST" action="/update">

    <div class="flexEye">
        <label for="password">Wachtwoord</label>
        <i class="far fa-eye" id="togglePassword"></i>
    </div>
    <input type="password" name="password" id="changePassword" value="" required>

    <button type="submit">wijzigen</button>

</form>
<h2>Account verwijderen</h2>
<form method="POST" action="/delete">

    <button type="submit">Verwijderen</button>

</form>
<%- include ("./partials/footer") %>