<%- include ("./partials/head") %>
    <h1>Account</h1>
    <h2>Wachtwoord veranderen</h2>
    <form method="POST" action="/update">

        <label for="password">Wachtwoord</label><i class="far fa-eye" id="togglePassword"></i>
        <input type="password" name="password" id="changePassword" value="" required>

        <button type="submit">wijzigen</button>

    </form>
    <h2>Account verwijderen</h2>
    <form method="POST" action="/delete">

        <button type="submit">Verwijderen</button>

    </form>
    <form method="GET" action="/nintendo">

        <button type="submit" name="xbox">Xbox</button>
        <button type="submit" name="playstation">Playstation</button>
        <button type="submit" name="nintendo">Nintendo</button>
        <button type="submit" name="wii">Nintendo Wii</button>
        <button type="submit" name="switch">Nintendo Switch</button>
        <button type="submit" name="gamecube">Nintendo Game Cube</button>
    </form>


<%- include ("./partials/footer") %>
