<%- include ("./partials/head2") %>
<i class="fas fa-lock pageIcon"></i>
<h1>Login</h1>

<form method="POST" action="/login">

    <label for="username">Gebruikersnaam</label>
    <input type="text" name="username" id="username">

    <label for="password">Wachtwoord</label>
    <input type="password" name="password" id="password">

    <button type="submit">Login</button>

</form>

<a href="/register">Nog geen account?</a>
<%- include ("./partials/footer") %>