<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <form method="POST" action="/login">
        <h1>Register</h1>
        <label for="username">Wat wil je als gebruikersnaam?</label><br><br>
        <input type="text" name="username"><br>
        <label for="password">Wat wil je als wachtwoord?</label><br><br>
        <input type="password" name="password"><br>
        <span>Wachtwoord <a href="/wwvergeten">vergeten?</a></span><br>
        <span>Nog geen account? <a href="/register">Registreer!</a></span>
        <button type="submit">Let's go</button><br>
    </form>
</body>

</html>