<%- include ("./partials/head2") %>
    <h1>Registreer</h1>

    <form method="POST" action="/add">
        
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required>

        <label for="username">Gebruikersnaam</label>
        <input type="text" name="username" id="username" required>

        <label for="password">Wachtwoord</label>
        <input type="password" name="password" id="password" required>

        <label for="console">Console</label>
        <input type="text" name="console" id="console">

        <label for="game">Game</label>
        <input type="text" name="game" id="game">

        <label for="tell">Telefoon nummer</label>
        <input type="tel" name="tell" id="tell">
        
        <label for="info">Vertel iets over je zelf</label>
        <input type="text" name="info" id="info">

        <button type="submit">Register</button>

    </form>

    <span>
        <a href="/login">Login</a>
    </span>
<%- include ("./partials/footer") %>